@font-face {
    font-family: 'Quattrocento';
    src: url('quattrocento-bold-webfont.eot');
    src: url('quattrocento-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('quattrocento-bold-webfont.woff') format('woff'),
         url('quattrocento-bold-webfont.ttf') format('truetype'),
         url('quattrocento-bold-webfont.svg#QuattrocentoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quattrocento';
    src: url('quattrocento-regular-webfont.eot');
    src: url('quattrocento-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quattrocento-regular-webfont.woff') format('woff'),
         url('quattrocento-regular-webfont.ttf') format('truetype'),
         url('quattrocento-regular-webfont.svg#QuattrocentoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

